HOST=127.0.0.1
PORT=3001
FRONTEND_ORIGIN=http://localhost:5173

# Endereço do WebSocket server da ESP32 (rede WiFi "Micromouse_Telemetry")
ESP32_WS_URL=ws://192.168.4.1:81

DB_HOST=localhost
DB_PORT=5432
DB_NAME=micromouse_db
DB_USER=pi1_user2
DB_PASSWORD=senhafalsa123
